@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 228, 80, 80;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input, textarea, select {

  @apply block w-full px-3 py-2 text-base leading-normal bg-white border border-gray-300 rounded-lg appearance-none focus:outline-none focus:border-blue-500;
  @apply bg-gray-100 text-gray-900;

  &:focus {
    @apply bg-white text-black;
  }

  &::placeholder {
    @apply text-gray-500;
  }

  &::-webkit-input-placeholder {
    @apply text-gray-500;
  }

  &::-moz-placeholder {
    @apply text-gray-500;
  }

  &:-ms-input-placeholder {
    @apply text-gray-500;
  }
}

button {
  @apply inline-block px-6 py-3 text-base font-semibold leading-normal text-white bg-blue-500 border border-blue-500 rounded-lg shadow-md appearance-none ;
  @layer @apply focus:outline-none focus:shadow-outline;
}