@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 228, 80, 80;
}

* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: 
    radial-gradient(
      circle farthest-corner at 100% 25%,
      rgba(var(--background-end-rgb), 0.9) 1px,
      transparent
    ),
    radial-gradient(
      circle closest-corner at 0% 65%,
      rgba(var(--background-end-rgb), 0.9) 1px,
      transparent
    ) 0 100vh; */

  margin: 0;
  background: #ff5757;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

text {
  @apply text-balance text-slate-900 truncate dark:text-slate-200;
}

input,
textarea,
select {

  @apply mt-1 block w-full px-3 py-2 text-base leading-normal bg-white border-gray-300 appearance-none rounded-lg focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
  @apply bg-gray-100 text-gray-900;

  &:focus {
    @apply bg-white text-black;
  }

  &::placeholder {
    @apply text-gray-500;
  }

  &::-webkit-input-placeholder {
    @apply text-gray-500;
  }

  &::-moz-placeholder {
    @apply text-gray-500;
  }

  &:-ms-input-placeholder {
    @apply text-gray-500;
  }
}