@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 228, 80, 80;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100% !important;
  height: 100%;
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

body {
  /* background: 
    radial-gradient(
      circle farthest-corner at 100% 25%,
      rgba(var(--background-end-rgb), 0.9) 1px,
      transparent
    ),
    radial-gradient(
      circle closest-corner at 0% 65%,
      rgba(var(--background-end-rgb), 0.9) 1px,
      transparent
    ) 0 100vh; */

  margin: 0;
  background: #ff5757;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* text {
  @apply text-balance text-slate-900 truncate dark:text-slate-200;
} */

/* input,
textarea,
select {
  @apply mt-1 block w-full px-3 py-2 text-base leading-normal bg-backgroud border-gray-300 appearance-none rounded-lg focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
  @apply bg-gray-100 text-gray-900;

  &:focus {
    @apply bg-backgroud text-black;
  }

  &::placeholder {
    @apply text-gray-500;
  }

  &::-webkit-input-placeholder {
    @apply text-gray-500;
  }

  &::-moz-placeholder {
    @apply text-gray-500;
  }

  &:-ms-input-placeholder {
    @apply text-gray-500;
  }
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --success: 142 70.6% 45.3%;
    --success-container: 141 84.2% 92.5%;
    --success-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-container: 0 96.3% 92.4%;
    --destructive-foreground: 0 0% 98%;
    --warning: 38 92% 50%;
    --warning-container: 55 96.7% 88%;
    --warning-foreground: 48 96% 89%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --container: 0 0% 98.6%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --success: 120 28% 35%;
    --success-container: 144 49% 12%;
    --success-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-container: 0 23.5% 11.8%;
    --destructive-foreground: 0 0% 98%;
    --warning: 43 82% 38%;
    --warning-container: 43 82% 8%;
    --warning-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --container: 240 10% 10.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

[data-slate-editor]>*+* {
  margin-top: 1em;
}

blockquote {
  border-left: 2px solid;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  font-style: italic;
}

blockquote[dir='rtl'] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid;
}